$main-dark: #222222;
$main-accent: #F16D7F;
$main-light: #fbfbfb;

// greyscale

$greyscale-dark: #575757;
$greyscale-normal: #6F6E6E;
$greyscale-light: #B1B1B1;
$greyscale-blind: #F5F3F3;

// background colors

$background-light: #F1E4E6;
$background-dark: #222224;
$card-background: #F8F8F8;

// shadow

$shadow-dark: #22222238;