@import '../module/colors';

.footer {
    background-color: $main-dark;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    
    &__left {
        display: flex;
        align-items: center;
        margin-left: 5px;

        .addText {
            color: $main-light;
            margin-right: 10px;
        }
    }

    &__right {
        margin: 24px 0px;
        display: flex;
    }

    &__icon {
        width: 32px;
        height: 32px;
        margin-left: 7px;
        fill: $main-dark;
        padding: 8px;
        background-color: $main-light;

        &path {
            fill: $main-dark;
            
        }

        &:hover {
            background-color: $main-accent;
            fill: $main-light;
        }
    }
}