@import '../module/colors';

.footer {
    background-color: $mainColorDark;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    &__text {
        font-size: 16px;
        line-height: 19px;
        color: $colorWhite;
        margin-right: 10px;
    }
    &__right {
        margin: 24px 0px;
        display: flex;
    }
    &__icon {
        width: 32px;
            height: 32px;
        margin-left: 7px;
        fill: $mainColorDark;
        padding: 8px;
        background-color: $colorWhite;

        &path {
            fill: $mainColorDark;
            
        }

        &:hover {
            background-color: $colorRed;
            fill: $colorWhite;
        }
    }
}