@import '../module/colors';

.header {
    background-color: $main-dark;
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
        &__wrap {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            width: 111px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        transition: 0.5s;
        cursor: pointer;
        &-indent {
            margin-right:33px;
        }
            &:hover path {
                fill: $main-accent;
                transition: 0.5s;
            }
        &-last {
            margin-right:10px;
        }
    }
}

.dropdownMenu {
    position: absolute;
    z-index: 2;
    top: 77px;
    right: 0;
    height: 100vh;
    background-color: $main-light;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 34px;
    width: 14.5%;

    &__exit {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;
    }

    &__name {
        font-weight: bold;
    }

    &__category {
        margin-bottom: 20px;
        list-style-type: none;

        &:first-child {
            margin-top: 24px;
        }
    }
}