.pageTitle {
    margin-top: 77px;
    background-color: #F8F3F4;
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .heading {
            color: #F16D7F;
        }
    }
}