.subscribe {
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 97px;
        padding-bottom: 153px;

        .quotation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            &__photo img {
                border-radius: 50%;
            }
        
            &__text {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
                max-width: 360px;
                margin-top: 30px;
            }
        }
    
        .subscribe-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 360px;
            margin-top: 53px;
            margin-right: 97px;
        
            &__heading {
                font-weight: normal;
                font-size: 18px;
                line-height: 167.2%;
                text-align: center;
                color: #222224;
                text-transform: uppercase;
                margin-top: -6px;
                margin-bottom: 30px;
        
                & span {
                    font-weight: bold;
                font-size: 24px;
                }
            }

            &__inputBlock {
                display: flex;
            }

            &__field {
                width: 256px;
                padding: 16px 22px 16px 22px;
                border-radius: 45px 0px 0px 45px;
                background-color: #E1E1E1;
                border-width: 0px;
                text-transform: lowercase;
                font-size: 14px;
                line-height: 17px;
                color: #222224;
                opacity: 0.67;
                box-sizing: border-box;
                outline: none;

                &:placeholder-shown {
                    text-transform: capitalize;
                }

                &:-webkit-autofill:focus {
                    -webkit-box-shadow: 0 0 0px 1000px #E1E1E1 inset;
                }
            }

            &__button {
                padding: 16px 20px;
                border-radius: 0px 45px 45px 0px;
                background-color: #F16D7F;
                border-width: 0px;
                color: #ffffff;
                cursor: pointer;
        
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }
}