* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

@media (max-width: 1172px) {
  .container {
    max-width: 1140px;
    margin: 0 16px;
  }
}

.header {
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.header__icon-indent {
  margin-right: 33px;
}

.header__icon:hover path {
  fill: #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__icon-last {
  margin-right: 10px;
}

.pageTitle {
  margin-top: 77px;
  background-color: #F1E4E6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pageTitle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageTitle__container .heading {
  color: #F16D7F;
}

.subscribe {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(../img/subscribe.jpg);
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 97px;
  padding-bottom: 153px;
}

.subscribe__container .quotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__container .quotation__photo img {
  border-radius: 50%;
}

.subscribe__container .quotation__text {
  text-align: center;
  color: #222222;
  max-width: 360px;
  margin-top: 30px;
}

.subscribe__container .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  margin-top: 53px;
  margin-right: 97px;
}

.subscribe__container .subscribe-form__heading {
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  margin-top: -6px;
  margin-bottom: 30px;
}

.subscribe__container .subscribe-form__heading span {
  font-weight: normal;
  font-size: 18px;
}

.subscribe__container .subscribe-form__inputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__container .subscribe-form__field {
  width: 256px;
  padding: 16px 22px 16px 22px;
  border-radius: 45px 0px 0px 45px;
  background-color: none;
  border-width: 0px;
  opacity: 0.67;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.subscribe__container .subscribe-form__button {
  padding: 16px 20px;
  border-radius: 0px 45px 45px 0px;
  background-color: #F16D7F;
  border-width: 0px;
  color: #fbfbfb;
  cursor: pointer;
}

.subscribe__container .subscribe-form__button:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 1172px) {
  .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe-form {
    margin-right: 0px;
  }
}

.footer {
  background-color: #222222;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.footer__left .addText {
  color: #fbfbfb;
  margin-right: 10px;
}

.footer__right {
  margin: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  width: 32px;
  height: 32px;
  margin-left: 7px;
  fill: #222222;
  padding: 8px;
  background-color: #fbfbfb;
}

.footer__iconpath {
  fill: #222222;
}

.footer__icon:hover {
  background-color: #F16D7F;
  fill: #fbfbfb;
}

.cart-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 126px;
}

.cart-screen .card-box {
  max-width: 653px;
}

.cart-screen .card-box .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 6px 4px 24px #22222238;
          box-shadow: 6px 4px 24px #22222238;
}

.cart-screen .card-box .card__img img {
  width: 262px;
}

.cart-screen .card-box .card__content {
  margin: 22px 57px 62px 31px;
}

.cart-screen .card-box .card__content .link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.cart-screen .card-box .card__content h4 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart-screen .card-box .card__product-parameters {
  max-width: 166px;
  margin-top: 36px;
  list-style-type: none;
}

.cart-screen .card-box .card__product-parameters li {
  padding-top: 6px;
}

.cart-screen .card-box .card__product-parameters strong {
  color: #F16D7F;
}

.cart-screen .card-box .card__product-parameters span {
  color: #6F6E6E;
}

.cart-screen .card-box .card__product-parameters input {
  margin-left: 24px;
  width: 35px;
  text-align: center;
}

.cart-screen .card-box .card__exitButton {
  border: none;
  background: none;
  height: 18px;
  margin: 28px 22px 0 0;
}

.cart-screen .card-box .card__exitButton:hover path {
  fill: #F16D7F;
}

.cart-screen .card-box .card:hover {
  -webkit-box-shadow: 17px 19px 24px #22222238;
          box-shadow: 17px 19px 24px #22222238;
}

.cart-screen .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.cart-screen .button-box button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 16px 40px;
  background-color: transparent;
  border: none;
  outline: 1px solid #222222;
}

.cart-screen .button-box button .link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.cart-screen .button-box button:hover {
  color: #F16D7F;
  outline: 1px solid #F16D7F;
  -webkit-box-shadow: 6px 4px 24px #22222238;
          box-shadow: 6px 4px 24px #22222238;
}

.cart-screen .button-box button:hover .link {
  color: #F16D7F;
}

.cart-screen .form {
  width: 360px;
  margin-top: 17px;
  margin-bottom: 57px;
}

.cart-screen .form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.cart-screen .form__item {
  margin-top: 20px;
  background-color: #fbfbfb;
  border: none;
  outline: 1px solid #B1B1B1;
  color: #222222;
}

.cart-screen .form__field {
  width: 360px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.cart-screen .form__button {
  width: 100px;
  height: 35px;
  background-color: #fbfbfb;
  border: none;
  outline: 1px solid #B1B1B1;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
}

.cart-screen .form__button:hover {
  color: #F16D7F;
  outline-color: #F16D7F;
  -webkit-box-shadow: 6px 4px 24px #22222238;
          box-shadow: 6px 4px 24px #22222238;
}

.cart-screen .purchase-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F3F3;
  padding: 40px 44px;
}

.cart-screen .purchase-box .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 275px;
  border-bottom: 1px solid #B1B1B1;
}

.cart-screen .purchase-box .total .sub {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
}

.cart-screen .purchase-box .total .grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
}

.cart-screen .purchase-box .total .grand strong {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart-screen .purchase-box .total .amount {
  margin-left: 24px;
}

.cart-screen .purchase-box button {
  margin-top: 17px;
  padding: 16px 42px;
  display: block;
  background-color: #F16D7F;
  color: #fbfbfb;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart-screen .purchase-box button:hover {
  -webkit-box-shadow: 6px 4px 24px #22222238;
          box-shadow: 6px 4px 24px #22222238;
  text-decoration: underline;
}
/*# sourceMappingURL=cart.css.map */