@import '../module/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    margin: 0 calc(50% - 570px);
}

@import '../block/header';

@import '../block/pageTitle';

.cart-screen {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 126px;

    .card-box {
        max-width: 653px;
        

        .card {
            display: flex;
            height: 306px;
            margin-bottom: 40px;
            box-shadow: 6px 4px 24px rgba(0, 0, 0, 0.21);
            
            &__img img {
                width: 262px;
                // height: 306px;
            }

            &__content {
                margin: 22px 57px 62px 31px;

                .link {
                    text-decoration-line: none;
                }

                h4 {font-size: 24px;
                    line-height: 29px;
                    color: $mainColorDark;}
            }

            &__product-parameters {
                max-width: 166px;
                margin-top: 42px - 6px ;
                list-style-type: none;

                li {
                    padding-top: 6px;
                }

                strong {
                    color: $colorRed;
                }

                span {
                    color: #6F6E6E;
                }

                input {
                    margin-left: 24px;
                    width: 35px;
                    text-align: center;
                }
            }

            &__exitButton {
                border: none;
                background: none;
                height: 18px;
                margin: 28px 22px 0 0;
                &:hover path {
                    fill: $colorRed;
                }
            
            }
            
            &:hover {
                box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.21);

            }
        }
    }

    .button-box {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;

        button {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $mainColorDark;
            padding: 16px 40px;
            background-color: transparent;
            border: none;
            outline: 1px solid $mainColorDark;

            .link {
                text-decoration-line: none;
            }

            &:hover {
                color: $colorRed;
                outline: 1px solid $colorRed;
                box-shadow: 6px 4px 24px rgba(0, 0, 0, 0.21);

                .link {
                    color: $colorRed;
                }
            }
        }
    }

    .form {
        width: 360px;
        margin-top: 17px;
        margin-bottom: 57px;

        &__heading {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $mainColorDark;
            text-transform: uppercase;
        }

        &__item {
            margin-top: 20px;
            background-color: $colorWhite;
            border: none;
            outline: 1px solid #A4A4A4;
            color: $mainColorDark;
        }

        &__field {
            width: 360px;
            height: 45px;
            align-items: center;
            padding-left: 15px;
            box-sizing: border-box;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
        }

        &__button {
            width: 100px;
            height: 35px;
            background-color: $colorWhite;
            border: none;
            outline: 1px solid #A4A4A4;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            cursor: pointer;

            &:hover {
                color: $colorRed;
                outline-color: $colorRed;
                box-shadow: 6px 4px 24px rgba(0, 0, 0, 0.21);
            }
        }
    }

    .purchase-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F5F3F3;
        padding: 40px 44px;
        
        .total {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 275px;
            border-bottom: 1px solid lightgrey;
            box-sizing: border-box;

            .sub {
                font-size: 11px;
                line-height: 13px;
                margin-bottom: 12px;
            }

            .grand {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 21px;

                strong {
                    font-size: 16px;
                    line-height: 19px;
                    color: $colorRed;
                }
            }

            .amount {
                margin-left: 24px;
            }

        }

        button {
            margin-top: 17px;
            padding: 16px 42px;
            display: block;
            background-color: $colorRed;
            color: $colorWhite;
            border: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            &:hover {
                box-shadow: 6px 4px 24px rgba(0, 0, 0, 0.21);
                text-decoration: underline;
            }
        }
    }

}

@import '../block/subscribe';

@import '../block/footer';