@import '../module/general';

@import '../module/colors';

@import '../module/font';

@import '../block/header';

@import '../block/cardblock';

@import '../block/advantages';

@import '../block/subscribe';

@import '../block/footer';

.title {
    background-color: $background-light;

    &__wrap {
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url(../img/title.png);
        background-repeat: no-repeat;
        background-position: -222px bottom;
        }

    &__heading {
        max-width: 405px;
        border-left: 12px solid $main-accent;
        padding-left: 16px;
        margin-right: 5%;

        &--brand {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
        }

        &--color {
            color: $main-accent;
        }
    }
}

.category {
    margin-top: 65px;
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__card {
        width: 31.5%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
        padding-top: 105px;
        padding-bottom: 105px;

        &:last-child {
            width: 100%;
            padding-top: 65px;
            padding-bottom: 65px;
        }

        &--women {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/card_1.jpg);
        }

        &--men {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/card_2.jpg);
        }

        &--kids {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/card_3.jpg);
        }

        &--accs {
            background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/card_4.jpg);
        }
    }

    &__text {
        text-align: center;
        color: $main-light;
    }

    &__heading {
        color: $main-accent;
    }
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;

    &__text {
        color: $greyscale-light;
        padding-top: 6px;
    }

    &__button {
        border: 1px solid $main-accent;
        padding: 14px 39px;
        color: $main-accent;

        &:hover {
            border: 1px solid $main-accent;
            color: $main-light;
            background-color: $main-accent;
        }
    }
}

@media (max-width: 1172px) {
    .featured__content {
        justify-content: space-around;
    }

    .advantages__content {
            flex-direction: column;
            align-items: center;
        }

    .advantages__block {
        margin-bottom: 48px;
    }

}
