@import '../module/general';

@import '../module/colors';

@import '../block/header';

@import '../block/pageTitle';

@import '../block/subscribe';

@import '../block/footer';

.registation {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
    justify-content: space-between;

    .form {
        max-width: 360px;

        &__heading {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }

        &__item {
            margin-top: 20px;
            background-color: $main-light;
            border: none;
            outline: 1px solid #A4A4A4;
            color: $main-dark;

            &::-webkit-input-placeholder {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
            }
        }

        &__field {
            width: 360px;
            height: 45px;
            align-items: center;
            padding-left: 15px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            

            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px $main-light inset;
              }
        }

        &__sex {
            margin-top: 33px;
            margin-bottom: 35px;
        }

        &__label {
            margin-left: 10px;
            margin-right: 20px;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
        }

        &__text {
            margin-top: 15px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: $greyscale-light;
        }

        &__button {
            cursor: pointer;
            padding: 16px 66px 16px 29px;
            background-color: $main-accent;
            color: $main-light;
            border: none;
            margin-top: 39px;
            transition: 0.5s;
        }

            &__button-box:hover .form__button {
                border-radius: 25px;
                background-color: $main-accent;
                animation: none;
                transition: 0.5s;
            }

        &__button-img {
            margin-left: -50px;
            cursor: pointer;

            & path {
                fill: $main-light;
            }
        }        
    }

    .perks {
        max-width: 652px;
        width: 100%;

        &__heading {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 22px;
        }

        &__text {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 21px;
        }
        
        &__list {
            list-style-position: inside;        
            list-style-image: url(../img/checkMark.svg);
        }
        
        &__item {
            margin-bottom: 16px;

            & span {
                padding-left: 22px;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}